{% extends "main.html" %}
{% block content %}

<div class="row">
	<div class="col-md-12">

		<!-- Breadcrumb -->
		<ol class="breadcrumb">
			<li><a href="{{ url_for('showCatalog') }}">Home</a></li>
			<li class="active">{{ category.name }}</li>
		</ol>		

		<!-- Title -->
		<div class="title">
			<h2>Add a new item</h2>
		</div>
	</div>
</div>

<div class="row content">
	<!-- Content -->
	<div class="col-md-3 col-xs-12">
		<form action={{ url_for('newItem', category_id = category.id) }} method='POST' enctype='multipart/form-data'>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			<div class="form-group">
				<label for="itemName">Item name</label>
				<input type='text' class='form-control' id='itemName' name='item' placeholder='Item name'></input>
			</div>
			<div class="form-group">
				<label for="itemPicture">Upload picture</label>
				<input type='file' class='form-control' id='itemPicture' name='photo'></input>
			</div>
			<div class="form-group">
				<label for="itemDescription">Description</label>
				<textarea class='form-control' id='itemDescription' name='description' placeholder='Description'></textarea>	
			</div>
			<div class="form-group">
				<label for="itemNotes">Notes</label>
				<textarea class='form-control' id='itemNotes' name='notes' placeholder='Notes'></textarea>
			</div>
			<div class="form-group">
				<button class='btn btn-default' type='submit'>Submit</button>
				<a href=" {{ url_for('showCategory', category_id = category.id) }} ">Cancel</a>	
			</div>
		</form>
	</div>
</div>

{% endblock %}